@model UI.Models.Task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            @Html.EditorFor(model => model.Nome, new { @class = "col-md-12" })
        </div>
        
        <div class="row">
            @Html.EditorFor(model => model.DataInicio, new { @class = "col-md-6" })
            @Html.EditorFor(model => model.DataFim, new { @class = "col-md-6" })
        </div>       
        <div class="row">
            @Html.EnumDropDownListFor(model => model.Status)
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
